<!DOCTYPE html>
<html lang="en">
<head>
  <title>MyGarments Shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style = background-image:url("/media/background.png")>
<img src="/media/mybanner2.jpg" class="img-thumbnail" width=100% height=300 />

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">My Garments Shop</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/aboutus">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contactus">Contact Us</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        FormalShirts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/formalshirts">FormalShirts</a>
        <a class="dropdown-item" href="/casualshirt">CasualShirts</a>
        <a class="dropdown-item" href="#">Normal</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        T-Shirts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="">casual</a>
        <a class="dropdown-item" href="#">sport</a>
        <a class="dropdown-item" href="#">normal</a>
      </div>
    </li>
  <form class="form-inline" action="/search_list">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" name='query' value='{{query.GET.get}}'>
    <button class="btn btn-success" type="submit">Search</button>
  </form>
</nav>
<br>
  </ul>
</nav>
<br>
<div class="container">
  {% block body_block %}
<div class="container">
  <h3>Navbar With Dropdown</h3>
  <p>This example adds a dropdown menu in the navbar.</p>
</div>
  {% endblock %}
</body>
</html>
